@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<img src="~/img/JoelHiltonHeadshot.jpg" />

<div>
    <a asp-controller="Home" asp-action="NewMovies">Add New Movie</a>
</div>